@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fjalla+One&family=Kanit&family=Staatliches&display=swap');



.main-div{
    text-align: center;
    margin:1rem auto;
    width:80vw;
    font-family: 'Staatliches', cursive;
    color:#30AADD;
    animation: fadeIn 7s;
}



.head-1{
    font-size:6rem;
    animation: fadeIn 7s;
}

.head3{
    font-size:3rem;
    animation: fadeIn 7s;
}

.main-img{
    display: block;
    margin:1rem auto;
    width: 41.5vw;
    animation: fadeIn 7s;
}

.flex-divison{
    display:flex;
    align-items:center;
    justify-content:center;
}

@media screen and (max-width: 800px) {
    .head-1{
        font-size: 3rem;
        
        animation: fadeIn 7s;
    }
    .head3{
        font-size:2rem;
        animation: fadeIn 7s;
    }
    .main-img{
        width: 80vw;
        padding:0.75rem;
        animation: fadeIn 7s;
    }
    .cyscom{
        width:26vw;
    }
    
  }